$govuk-global-styles: true;
$fa-font-path: "/fonts";

@import "govuk-frontend/all";
@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";

[v-cloak] {
  display: none;
}